body{
    background-color: dodgerblue;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex{
    width:500px;
    padding:5px;

}

#imagens{
    width: 75px;
}

.flex2{
    margin: 0px;
    padding: 5px;
    display: flex;
    text-align: right;
}


